// Header Animations

@keyframes logo-drop {
  0% {
    transform: rotate(90deg) scale(1.1);
    opacity: 0;
  }
  100% {
    transform: rotate(15deg);
    opacity: 1;
  }
}
#body-inicio #header {
  .image {
    animation: logo-drop 1s 0s both;
  }
  @mixin show-from($delay) {
    animation: show-from .5s (.25s * $delay) both;
  }
  .section__title {       @include show-from(1); }
  .subtitle {             @include show-from(2); }
}


// General

.type-page {
  h1, .h1,
  .section__title h2 {
    color: var(--main);
  }
}
.review__figure-image {
  background-color: $white;
  color: $black;
  width: 100%;
  height: 100%;
}
.review__figure .bg-color {
  background-color: transparent;
}
.apps {
  display: flex;
  justify-content: space-evenly;
  gap: .5em;
  svg {
    width: auto;
    height: 2.67em;
    aspect-ratio: 3/1;
  }
}
.summaries__blog {
  a {
    color: var(--main);
  }
}

// Footer

#footer {
  .image {
    max-width: 12em;
    margin-left: 0;
  }
  .apps {
    display: block;
    svg {
      width: 6em;
      height: 1.85em;
    }
  }
}

// ph-cloro

#body-automatiza-el-control-de-ph-y-cloro-en-tu-establecimiento {
  #header {
    .column--item-1 .column__header {
      order: -1;
      margin: 0;
    }
    .column--item-2 {
      transform: rotate(5deg);
    }
  }
  #problemas {
    .columns .column .bg-color {
      border: .25em red solid;
    }
  }
  #soluciones {
    .columns .section__title > * {
      color: var(--main);
    }
  }
  #ahorro {
    .section__title > * {
      color: var(--link);
      font-size: 2.25em;
    }
  }
  #formulario {
    .section__title > * {
      color: var(--title);
    }
  }
}
