// Menu

.body-top.body-menu--sticky--active {
  --menu-py: .75em;
}


// Header Animations

@keyframes logo-drop {
  0% {
    transform: rotate(90deg) scale(1.1);
    opacity: 0;
  }
  100% {
    transform: rotate(15deg);
    opacity: 1;
  }
}
#body-home #header {
  overflow: hidden;
  .image {
    animation: logo-drop 1s 0s both;
  }
  @mixin show-from($delay) {
    animation: show-from .5s (.25s * $delay) both;
  }
  .box__title { @include show-from(1); }
  .subtitle   { @include show-from(2); }
}


// General

.type-single:not(.kind-section) {
  h1, .h1,
  h2.box__title {
    color: var(--main);
  }
}
.review__figure-image {
  background-color: $white;
  color: $black;
  width: 100%;
  height: 100%;
}
.review__figure .bg-color {
  background-color: transparent;
}
.apps {
  display: flex;
  justify-content: space-evenly;
  gap: .5em;
  svg {
    width: auto;
    height: 2.67em;
    aspect-ratio: 3/1;
  }
}
.box__link:not(.box--card *) {
  --cta-text: var(--main);
}

#final-price {
  .box__md {
    margin-block: auto;
  }
}

// Footer

#footer {
  .image {
    max-width: 12em;
    margin-left: 0;
  }
  .apps {
    justify-content: flex-start;
    gap: .5em;
    svg {
      width: 6em;
      height: 1.85em;
    }
  }
}

// ph-cloro

#body-ph-cloro {
  #header {
    .box--1 .box__title {
      order: -1;
      margin: 0;
    }
    .box--2 {
      transform: rotate(5deg);
    }
  }
  #problemas {
    .boxes .box {
      justify-content: center;
      .bg-color {
        border: .25em red solid;
      }
    }
  }
  #soluciones {
    .box__title {
      color: var(--main);
    }
  }
  #ahorro {
    .box__title {
      color: var(--cta);
    }
  }
  #formulario {
    .box__title {
      color: var(--title);
    }
  }
}
